<header class="header">

    <div class="container">

        <div class="header-wrapper">

            <!--========== LOGO ==========-->

            <a href="../index.html" class="logo">

                <img
                    src="../assets/images/logo/logo.png"
                    alt="Bulldog Football Flag Logo">

                <span>Bulldog</span>

            </a>

            <!--========== NAVIGATION ==========-->
        <div class="navigation-wrapper"></div>
            <nav class="navigation">

                <ul class="nav-list">

                    <li><a href="../index.html" class="nav-link active">Inicio</a></li>

                    <li><a href="../about.html" class="nav-link">Nosotros</a></li>

                    <li><a href="../teams.html" class="nav-link">Equipos</a></li>

                    <li><a href="../schedule.html" class="nav-link">Calendario</a></li>

                    <li><a href="../news.html" class="nav-link">Noticias</a></li>

                    <li><a href="../gallery.html" class="nav-link">Galería</a></li>

                    <li><a href="../contact.html" class="nav-link">Contacto</a></li>

                </ul>

            </nav>

            <!--========== BUTTON ==========-->

            <a href="../registration.html" class="btn btn-primary">

                Inscríbete

            </a>
        </div>

            <!--========== MOBILE BUTTON ==========-->

        <button
    class="menu-toggle"
    aria-label="Abrir menú">

    <span></span>
    <span></span>
    <span></span>

</button>

        </div>

    </div>

</header>